{{#isRestfulCreate}}ResponseEntity.created(URI.create("{{{vendorExtensions.pathForDelegate}}}")).build(){{/isRestfulCreate}}{{^isRestfulCreate}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}{{vendorExtensions.payloadClassCasting}} randomStreamOf(5, {{returnType}}.class).collect({{vendorExtensions.payloadClassCollector}}){{/isListContainer}}{{/returnContainer}}{{^returnContainer}}random({{{returnType}}}.class){{/returnContainer}}{{/isRestfulCreate}}